<%- include("partials/header-profile"); -%>

<header class="top-container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Teach-O-Pedia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/<%= user.profile %>/<%= user._id %>">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/booking/<%= user.profile %>/<%= user._id %>">My Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/profile/<%= user.profile %>/<%= user._id %>">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/login">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--* User Part -->
<section class="user container-fluid">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/student01.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="fw-bold">Subject:</p>
              <p class="card-text"><%= item.subject %></p>
              <p class="fw-bold">Address:</p>
              <p class="card-text"><%= item.address %></p>
              <p class="fw-bold">Classes Teach:</p>
              <p class="card-text"><% for (ele of item.classesTaken) { %> 
                <span class="badge rounded-pill text-bg-success"><%= ele %></span> 
                <% } %> </p>
              <p class="fw-bold">Days available every week:</p>
              <p class="card-text"><% for (element of item.day) { %> 
                <span class="badge rounded-pill text-bg-primary"><%= element %></span> 
                <% } %> </p>
                <form action="/booknow" method="post">
                    <p class="fw-bold">Choose booking date:</p>
                    <input type="date" name="date" min="<%= tomorrow %>" max="<%= future %>" id="datepicker" required>
                    <input type="hidden" name="teacherId" value="<%= item._id %>">
                    <input type="hidden" name="studentId" value="<%= user._id %>">
                    <input type="hidden" name="studentEmail" value="<%= user.email %>">
                    <input type="hidden" name="teacherEmail" value="<%= item.email %>">
                    <button class="btn btn-primary" type="submit">Book Now</button>
                </form>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- jQuery CDN -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<!-- BootStrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

<!-- Core js file -->
<!-- <script src="/javascript/profilePopper.js"></script> -->

<%- include("partials/footer"); -%>