<%- include("partials/header-profile"); -%>

<!-- * Navigation Part -->
<header class="top-container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Teach-O-Pedia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/<%= user.profile %>/<%= user._id %>">My Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/profile/<%= user.profile %>/<%= user._id %>">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/login">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- * Details Part -->
<section class="user container-fluid">
    <form id="profile-form" action="/updateTeacher" method="post">
        <h3>Profile for: <%= user.profile %> </h3>
        <div class="image-part mb-3">
            <img src="/images/student01.webp" alt="profile image" srcset="" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name:</span>
            <input class="text-class form-control" type="text" name="name" id="" value="<%= user.name %>" aria-describedby="basic-addon1" readonly />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Email:</span>
            <input class="form-control" type="email" name="email" id="" value="<%= user.email %>" aria-describedby="basic-addon2" readonly />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Address:</span>
            <input class="text-class form-control" type="text" name="address" id="" value="<%= user.address %>" aria-describedby="basic-addon3" readonly />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4">Mobile:</span>
            <input class="text-class form-control" type="tel" name="mobile" id="" value="<%= user.mobile %>" aria-describedby="basic-addon4" readonly />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon5">Specialization:</span>
            <input class="form-control" type="text" name="specialize" id="" value="<%= user.subject %>" aria-describedby="basic-addon5" readonly />
        </div>
        <!-- For Teacher Only -->
        <div class="teacher-part">
            <label class="fw-bold fs-5" for="classes">Choose classes and schedule</label>
            <!-- Choose Class -->
            <div class="class-container">
                <label class="fw-bold" for="class">Class:</label>
                <% var options = [5, 6, 7, 8, 9, 10]; %>
                <% for (item of options) { %>
                <%       var checkedItem = user.classesTaken.includes(item) ? "checked" : ""; %>
                <div class="form-check form-check-inline">
                    <input class="check-class form-check-input" type="checkbox" name="class" id="" value="<%= item %>" <%= checkedItem %> disabled/>
                    <label class="form-check-label" for="<%= item %>"><%= item %></label>
                </div>
                <% }%>
                <br />
                <!-- Choose Day -->
                <label class="fw-bold" for="day">Day:</label>
                <% var options = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
                <% for (item of options) { %>
                <%       var checkedItem = user.day.includes(item) ? "checked" : ""; %>
                <div class="form-check form-check-inline">
                    <input class="check-class form-check-input" type="checkbox" name="day" id="" value="<%= item %>" <%= checkedItem %> disabled/>
                    <label class="form-check-label" for="<%= item %>"><%= item %></label>
                </div>
                <% }%>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="form-submit">Update</button>
        <button class="btn btn-success" type="button" id="edit">Edit</button>
        <button class="btn btn-danger" type="reset" id="cancel">Cancel</button>
    </form>
</section>

<!-- BootStrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
<!-- Core js file -->
<script src="/javascript/teacherProfile.js"></script>

<%- include("partials/footer"); -%>