<%- include("partials/header-profile"); -%>

    <!-- * Navigation Part -->
    <header class="top-container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Teach-O-Pedia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/dashboard/<%= user.profile %>/<%= user._id %>">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/booking/<%= user.profile %>/<%= user._id %>">My Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                                href="/profile/<%= user.profile %>/<%= user._id %>">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/login">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- * Details Part -->
    <section class="user container-fluid">
        <form id="profile-form" action="/updateStudent" method="post">
            <h3>Profile for: <%= user.profile %>
            </h3>
            <div class="image-part mb-3">
                <img src="/images/student01.webp" alt="profile image" srcset="" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name:</span>
                <input class="text-class form-control" type="text" name="name" id="" value="<%= user.name %>" aria-describedby="basic-addon1" readonly />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Email:</span>
                <input class="form-control" type="email" name="email" id="" value="<%= user.email %>" aria-describedby="basic-addon2" readonly />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Address:</span>
                <input class="text-class form-control" type="text" name="address" id="" value="<%= user.address %>" aria-describedby="basic-addon3" readonly />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">Mobile:</span>
                <input class="text-class form-control" type="tel" name="mobile" id="" value="<%= user.mobile %>" aria-describedby="basic-addon4" readonly />

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">School:</span>
                    <input class="text-class form-control" type="text" name="school" id="" value="<%= user.school %>" aria-describedby="basic-addon5" readonly />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">School:</span>
                    <input class="text-class form-control" type="text" name="board" id="" value="<%= user.board %>" aria-describedby="basic-addon6" readonly />
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="class">Class:</label>
                    <select class="check-class form-select" name="class" id="" disabled>
                        <% var options=[5, 6, 7, 8, 9, 10]; %>
                            <% for (item of options) { %>
                                <% var checkedItem=( user.class===item) ? "selected" : "" ; %>
    
                                    <option value="<%= item %>" <%= checkedItem %>><%= item %>
                                    </option>
    
                            <% }%>
                    </select>
                </div>
            <button class="btn btn-primary" type="submit" id="form-submit">Update</button>
            <button class="btn btn-success" type="button" id="edit">Edit</button>
            <button class="btn btn-danger" type="reset" id="cancel">Cancel</button>
        </form>
    </section>

    <!-- BootStrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- Core js file -->
    <script src="/javascript/studentProfile.js"></script>

    <%- include("partials/footer"); -%>